*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    font-size: 50px;
}
.btn{
    font-size: 30px;
    padding: 5px;
}

.banner{
    max-height: 600px;
    background-image: url("/assets/Hero-bg.png");
    padding: 26px 0;
    margin-bottom: 50px;
}
.banner div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group{
   max-width: 240px;
   max-height: 240px;

}

.contact{
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* bannersection ends here  */

.webdev{
    text-align: center;
   
}

.webinnerdev{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    
}

.webinnerdev h1{
    font-size: 30px;
}

.learnmore{
    height: 40px;
    width: 150px;
    font-size: 25px;
    background-color: transparent;
  
    

}

.inspiration{
    text-align: center;
}

.videoContainer{
    margin: 0 auto ;
    padding: 20px;
    width: 860px;
    height: 460px;
    background-color: rgb(228, 224, 233);
    border-radius: 10px;
}

/* ctraget section start */
.ctarget{
    text-align: center;
}

.targetcontainer{
display: flex;
align-items: center;
justify-content: center;
text-align: left;
gap: 20px;

}



.targetcontainer div{
    padding: 50px;
}
.html{
    background-color: antiquewhite;
}
.css{
    background-color: aqua;
}
.js{
    background-color: beige;
}


/* footerSection */

.footbanner{
     height: 500px; 
    /* background-color: red; */
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footbanner h1{
    font-size: 50px;
    color: white;
}

.footbanner form .input1{
    width:800px;
    padding: 15px;
    border-radius: 5px;
    font-size: 25px;
}

.input2{
    height: 60px;
    width: 150px;
    font-size: 25px;
}

.supportPara{
    font-size: 24px;
    color: white;
    margin: 10px 0;
}

.links{
    color: black;
}

.links a{
    color: black;
    font-size: 50px;
}

.linkcontaier{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

